
.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
}

.chat-message-robot {
  display: flex;
  align-items: start;
}

.chat-message-text {
  background-color: rgb(233, 232, 230);
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 300px;
}

.chat-message-image {
  width: 45px;
}