
.send-button {
  background-color: rgb(7, 133, 74);
  color: white;
  padding: 12px 20px;
  margin-left: 6px;
  border: none;
  border-radius: 11px;
  font-size: 14px;
  cursor:pointer
}

.chat-input {
  padding: 11px 20px;
  border-radius: 11px;
  border-width: 1px;
  font-size: 15px;

  flex-grow: 1;
}

.chat-input-container {
  display: flex;
  margin-bottom: 60px;
}