
.send-button {
  background-color: rgb(7, 133, 74);
  color: white;
  padding: 12px 20px;
  margin-left: 6px;
  border: none;
  border-radius: 11px;
  font-size: 14px;
  cursor:pointer
}

.chat-input {
  padding: 11px 20px;
  border-radius: 11px;
  border-width: 1px;
  font-size: 15px;

  flex-grow: 1;
}

.chat-input-container {
  display: flex;
  margin-bottom: 60px;
}

.app-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
}

.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
}

.chat-message-robot {
  display: flex;
  align-items: start;
}

.chat-message-text {
  background-color: rgb(233, 232, 230);
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 300px;
}

.chat-message-image {
  width: 45px;
}

.chat-messages-container {
  flex-grow: 1;
  margin-top: 20px;
  
  /* overflow: scroll; */ /* In this case, the input is pushed to the bottom again */
  scrollbar-width: none;
  overflow-y: auto;
}